@model IEnumerable<PataseLuxos.Models.FormaPagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Formar De Pagemento</h1>

<p>
    <a asp-action="Create">Adicionar Forma De Pagamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cartao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cartao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CVV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FormaPagamentoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FormaPagamentoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FormaPagamentoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
